# Data Science Tools and Ecosystem

|Objectives of this document|
----------------------------
- List the languages of data science
- List the tools of data science
- Demonstrate the basic computation of the python code
- Demonstrate the use of a jupyter notebook

In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
* PYTHON
* R
* JULIA

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* NumPy
* TensorFlow

|Data Science Tools|
-------------------
|R|
|Python|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5

17

Hours to minutes. 
This will convert 200 minutes to hours by diving by 60

In [9]:
(200/60)

3.3333333333333335

## Author Robina Laughlin